{% extends '../index.html' %} {% load static %} {% block body %}

<div class="div-init">
  <div class="div-init-info">
    <div class="div-init-info-titulo">
      <h1>Lucas Guedes</h1>
    </div>
    <div class="div-init-info-corpo">
      <p>
        Transformo ideias em experiências digitais cativantes, combinando
        front-end e back-end para criar soluções web inovadoras.
      </p>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-transparent">
    <div class="div-titulo-section">
      <p>EXPERIÊNCIA PROFISSIONAL</p>
    </div>
    <div class="div-descricao-section">
      <h2>Estágio no Tribunal de Justiça do Paraná</h2>
      <hr />
      <p>
        Foi um estágio de ensino médio no periodo de março de 2015 até dezembro
        de 2016, aprendi muitas coisas sobre como ser um profissional adequado e
        várias responsabilidades.
      </p>
    </div>

    <div class="div-descricao-section">
      <h2>Estágio na Macrosul Esquipamentos Hospitalares</h2>
      <hr />
      <p>
        Foi um estágio de ensino superior no periodo de maio de 2018 até outubro
        de 2019, foi o começo da minha jornada como desenvolvedor onde adquiri
        algumas habilidades junto as responsabilidades dentro da empresa.
      </p>
    </div>

    <div class="div-descricao-section">
      <h2>Cavok Aviação</h2>
      <hr />
      <p>
        Desenvolvedor Junior, foram apenas 3 meses no ano de 2020 de fevereiro
        até maio mas aprendi muito como profissional e como pessoa.
      </p>
    </div>

    <div class="div-descricao-section">
      <h2>Seal Tecnologia</h2>
      <hr />
      <p>
        Desenvolvedor Pleno, de janeiro de 2021 ate dezembro de 2021,
        responsável por desenvolver o sistema Seal integrado com placa Beagle
        Bone.
      </p>
    </div>

    <div class="div-descricao-section">
      <h2>Omega Informática/Franquia Linx</h2>
      <hr />
      <p>
        Desenvolvedor Pleno, de janeiro de 2022 até o novembro de 2023,
        participei da equipe de sustentação e melhoria do autosystem durante
        quase 2 anos.
      </p>
    </div>

    <div class="div-descricao-section">
      <h2>
        <a
          style="outline: none; color: #212a38; text-decoration: none"
          href="https://www.leadsoft.inf.br/"
          target="_blank"
          >Leadsoft Soluções Web</a
        >
      </h2>
      <hr />
      <p>
        Desenvolvedor FullStack, focado em desenvolver soluções de todos os
        tipos e tecnologias. Entrei no inicio de janeiro de 2024 e estou lá até
        hoje.
      </p>
    </div>
  </div>
</div>

<div class="section-gallery">
  <div
    class="gallery js-flickity"
    data-flickity-options='{ "wrapAround": true }'
  >
    <div class="gallery-cell">
      <img src="{% static 'images/django-logo.png' %}" />
    </div>
    <div class="gallery-cell">
      <img src="{% static 'images/react.png' %}" />
    </div>
    <div class="gallery-cell">
      <img src="{% static 'images/react-native.png' %}" />
    </div>
    <div class="gallery-cell">
      <img src="{% static 'images/node.png' %}" />
    </div>
    <div class="gallery-cell">
      <img src="{% static 'images/python.png' %}" />
    </div>
    <div class="gallery-cell">
      <img src="{% static 'images/html.png' %}" />
    </div>
    <div class="gallery-cell">
      <img src="{% static 'images/css.png' %}" />
    </div>
    <div class="gallery-cell">
      <img src="{% static 'images/android-studio.png' %}" />
    </div>
    <div class="gallery-cell">
      <img src="{% static 'images/java.png' %}" />
    </div>
    <div class="gallery-cell">
      <img src="{% static 'images/charp.png' %}" />
    </div>
  </div>
</div>

<div class="section">
  <div class="section-transparent">
    <div class="div-titulo-section">
      <p>MINHA HISTÓRIA</p>
    </div>
    <div class="div-descricao-section">
      <p>
        Nasci em Curitiba e fui criado na região metropolitana, em Almirante
        Tamandaré. Tive uma infância divertida com muitos amigos. Apesar de não
        termos muito, éramos felizes. Em uma rua sem saída, sem brinquedos ou
        luxos, aprendemos a usar a imaginação para brincar e nos divertir. Levo
        essa lição para a vida. Hoje, considero essa infância um presente e
        tento me divertir ao máximo em tudo o que faço, inclusive na minha
        profissão de programador.
      </p>
    </div>
  </div>
</div>

{% endblock %}
