{% extends '../index.html' %}

{% load static %}

{% block body %}

    <div class="div-init">
        <div class="div-init-info">
            <div class="div-init-info-titulo">
                <h1>Lucas Guedes</h1>
            </div>
            <div class="div-init-info-corpo">
                <p>
                    .
                </p>
            </div>
           
        </div>
    </div>

    <div class="section">
        <div class='section-transparent'>
            <div class='div-titulo-section'>
                <p>DESCRIÇÃO PESSOAL</p>
            </div>
            <div class='div-descricao-section'>
                <h3>entrada</h3>
                <ul>
                    <li>ola</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section">
        <div class='section-transparent'>
            <div class='div-titulo-section'>
                <p>EXPERIÊNCIA PROFISSIONAL</p>
            </div>
            <div class='div-descricao-section'>
                <h3>Estágio no Tribunal de Justiça do Paraná</h3>
                <hr>
                <p>Foi um estágio de ensino médio no periodo de março de 2015 até dezembro de 2016, aprendi muitas coisas sobre como ser um profissional adequado e várias responsabilidades, 
                    detre elas estão: </p>
                <ul>
                    <li>Juntadas de processos.</li>
                    <li>Entregas de processos para desembargadores e advogados.</li>
                    <li>Organizar e homologar processos.</li>
                </ul>
            </div>

            <div class='div-descricao-section'>
                <h3>Estágio na Macrosul Esquipamentos Hospitalares</h3>
                <hr>
                <p>Foi um estágio de ensino superior no periodo de maio de 2018 até outubro de 2019, foi o começo da minha jornada como desenvolvedor onde adquiri algumas habilidades junto as responsabilidades dentro da empresa: </p>
                <ul>
                    <li>Python para desenvolver um sistema de controle de estoque para empresa.</li>
                    <li>Sql Server para fazer consultas no banco de dados já existente.</li>
                    <li>SAP Business One sistema erp da empresa.</li>
                    <li>HTML e CSS.</li>
                    <li>QT Designer.</li>
                </ul>
            </div>

            <div class='div-descricao-section'>
                <h3>Cavok Aviação</h3>
                <hr>
                <p>Desenvolvedor Junior, foram apenas 3 meses no ano de 2020 de fevereiro até maio mas aprendi muito como profissional e como pessoa, aprendi algumas habilidades nesse caminho: </p>
                <ul>
                    <li>Django Framework o sistema Cavok é feito em django.</li>
                    <li>Aprimorei a linguagem Python.</li>
                    <li>PostgreSQL.</li>
                    <li>Aprimorei a minha habilidade de HTML e CSS.</li>
                    <li>JavaScript.</li>
                    <li>GIT.</li>
                </ul>
            </div>

            <div class='div-descricao-section'>
                <h3>Seal Tecnologia</h3>
                <hr>
                <p>Desenvolvedor Pleno, de janeiro de 2021 ate dezembro de 2021, responsável por desenvolver o sistema Seal integrado com placa Beagle Bone: </p>
                <ul>
                    <li>Desenvolvi o sistema em Django.</li>
                    <li>Python.</li>
                    <li>PostgreSQL.</li>
                    <li>HTML e CSS.</li>
                    <li>JavaScript.</li>
                    <li>C#.</li>
                    <li>Kotlin.</li>
                    <li>JavaScript.</li>
                    <li>GIT.</li>
                    <li>AWS.</li>
                </ul>
            </div>
            
            <div class='div-descricao-section'>
                <h3>Omega Informática franquia Linx</h3>
                <hr>
                <p>Desenvolvedor Pleno, de janeiro de 2022 até hoje, participo da equipe de sustentação e melhoria do autosystem. </p>
                <ul>
                    <li>Python.</li>
                    <li>PostgreSQL.</li>
                    <li>HTML e CSS.</li>
                    <li>JavaScript.</li>
                    <li>React Native.</li>
                    <li>React JS.</li>
                    <li>PHP.</li>
                    <li>Android Studio.</li>
                    <li>QT Designer.</li>
                    <li>GIT.</li>
                    <li>AWS.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section-gallery">
        
        <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
            <div class="gallery-cell">
                <img src="{% static 'images/django-logo.png' %}" />
            </div>
            <div class="gallery-cell">
                <img src="{% static 'images/react.png' %}"/>
            </div>
            <div class="gallery-cell">
                <img src="{% static 'images/react-native.png' %}"/>
            </div>
            <div class="gallery-cell">
                <img src="{% static 'images/node.png' %}"/>
            </div>
            <div class="gallery-cell">
                <img src="{% static 'images/python.png' %}"/>
            </div>
            <div class="gallery-cell">
                <img src="{% static 'images/html.png' %}"/>
            </div>
            <div class="gallery-cell">
                <img src="{% static 'images/css.png' %}"/>
            </div>
            <div class="gallery-cell">
                <img src="{% static 'images/android-studio.png' %}"/>
            </div>
            <div class="gallery-cell">
                <img src="{% static 'images/java.png' %}"/>
            </div>
            <div class="gallery-cell">
                <img src="{% static 'images/charp.png' %}"/>
            </div>
        </div>
        
    </div>
    

    <div class="section">
        <div class='section-transparent'>
            <div class='div-titulo-section'>
                <p>MINHA HISTÓRIA</p>
            </div>
            <div class='div-descricao-section'>
                <h3>entrada</h3>
                <ul>
                    <li>ola</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock  %}